<table class="table table-striped" *ngIf="panierItems.length > 0">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Article</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix</th>
        <th scope="col">Prix Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tempItem of panierItems; index as i">
        <td scope="row">{{ i + 1 }}</td>
        <td>
            <img [src]="'./assets/picture/'+ tempItem.pictureUrl" alt="tempItem.pictureUrl" class="me-2" style="width: 40px"> {{ tempItem.name }}
        </td>
        <td>
            <button (click)="removeQuantity(tempItem)" class="btn-sm"> - </button>  
            {{ tempItem.quantity }}   
            <button (click)="increaseQuantity(tempItem)" class="btn-sm"> + </button> 
        </td>
        <td>{{ tempItem.prix | currency: 'EUR' }}</td>
        <td>{{ tempItem.quantity * tempItem.prix | currency: 'EUR' }}</td>
    </tr>
    </tbody>
    <br>
    <h3>
        Total : {{ totalPrice | currency: 'EUR' }}
    </h3>
    <button type="button" class="btn btn-warning" routerLink="/login" *ngIf="!isAuthenticated()">Se connecter pour Commander</button>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop" *ngIf="isAuthenticated()">Finaliser la Commande</button>
</table>

<div *ngIf="panierItems.length == 0" class="alert alert-danger col-md-12 p-2" role="alert">
    <i>Votre Panier est vide</i>
</div>


<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <table class="table table-striped" *ngIf="panierItems.length > 0">
                    <thead>
                    <tr>
                        <th scope="col">Article</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Prix Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tempItem of panierItems">
                        <td>{{ tempItem.name }}</td>
                        <td>{{ tempItem.quantity }} </td>
                        <td>{{ tempItem.prix | currency: 'EUR' }}</td>
                        <td>{{ tempItem.quantity * tempItem.prix | currency: 'EUR' }}</td>
                    </tr>
                    </tbody>
                    <br>
                    <h3>
                        Total : {{ totalPrice | currency: 'EUR' }}
                    </h3>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Modifier la Commande</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="confirmCommande()">Confirmer la Commande</button>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          Votre Commande à bien été confirmée !
        </div>
      </div>
    </div>
  </div>