<footer class="mt-auto">
    <div class="d-flex flex-column mx-auto py-3" style="width: 80%;">
        <div class="d-flex justify-content-between">
            <div>
                <p class="h3 mb-4" style="font-weight:600">Dé du Géant</p>
                <ul style="list-style:none; cursor:pointer">
                    <li class="my-2"><a class="text-light" href="/">Resources</a></li>
                    <li class="my-2"><a class="text-light" href="/">About Us</a></li>
                    <li class="my-2"><a class="text-light" href="/">Contact</a></li>
                    <li class="my-2"><a class="text-light" href="/">Blog</a></li>
                </ul>
            </div>
            <div>
                <p class="h5 mb-4" style="font-weight:600">Livraison</p>
                <ul style="list-style:none">
                    <li class="my-2">- Offerte à partir de 40€</li>
                    <li class="my-2">- Livraison dans toute l'Europe</li>
                    <li class="my-2">- Traitement en 24h ouvrables</li>
                </ul>
            </div>
            <div>
                <p class="h5 mb-4" style="font-weight:600">Avantage</p>
                <ul style="list-style:none">
                    <li class="my-2">- Système de points de fidélité pour vos achats</li>
                    <li class="my-2">- 5% de remise en chèques-cadeaux</li>
                </ul>
            </div>
            <div>
                <p class="h5 mb-4" style="font-weight:600">Assistance</p>
                <ul style="list-style:none">
                    <li class="my-2">- Par téléphone : +32 (0)77 77 77 77</li>
                    <li class="my-2">- Par mail & Facebook</li>
                    <li class="my-2">- Traitement sous 24h ouvrables</li>
                </ul>
            </div>
        </div>
        <small class="text-center mt-3">&copy; DGeant, 2021. All rights reserved.</small>
    </div>
</footer>
