<div class="card-box">
    <form [formGroup]="articleFormGroup" (ngSubmit)="SaveArticle()">

        <div class="row">
            <h2 style="text-align: center;" >Enregistrement Article :</h2>
        </div>

        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" formControlName="name"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" id="description" class="form-control" formControlName="description"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="offset-lg-3 col-lg-6">
                <div class="form-group">
                    <label for="prix">Prix</label>
                    <input type="text" id="prix" class="form-control" formControlName="prix"/>
                    <span class="input-group-text">€</span>
                </div>
            </div>
        </div>        


    prix : new FormControl('', [Validators.required]),
    actif : new FormControl('', [Validators.required]),
    stock : new FormControl('', [Validators.required, Validators.minLength(1)]),
    pictureUrl : new FormControl('', [Validators.required]),
    categorie : new FormControl('', [Validators.required])

        <br>
        <div class="row">
            <div class="offset-lg-3">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" >Enregistrer l'Article</button>
                </div>
            </div>
        </div>
    </form>

</div>



